//default setting import
@import '../partials/default_settings';

//mixins import
@import '../partials/mixins';

//include fonts
@import '../partials/fonts';

//include keyframes
@import '../partials/keyframes';


//default settings
*{
    @include default;
}

body::-webkit-scrollbar{
    display: none;
}

body{
    background: #212121;
}

//navbar 
.navbar-top{
    @include navbar-top(true); //set to true or false if you want the cursor on navbar-top to be a pointer (true) or not to be a pointer (false)
}

.nav-connect{

    .navbar-middle{
        @include navbar-middle();

    
        .navbar-middle-data{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            padding-right: 32px;
            height: 65%;
    
            p{
                color: $primary-white-color;
                font-family:$navbar-top-font;
                font-size: 10.5px;
                cursor: pointer;
                
                .green{
                    color: $primary-green-color;
                }
    
                .green:hover{
                    color: $primary-green-color-hover;
                }
    
                .red{
                    color:$primary-red-color;
                }
    
                .red:hover{
                    color:$primary-red-color-hover;
                }
            }
    
            img{
                width: 17px;
                height: 17px;
            }
    
            .crypto_nav_dropdown{
                width: 150px;
                padding: 10%;
                background: $dropdown-bg;
                z-index: 2;
                border-radius: 15px;
                margin-top: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                box-shadow: 1px 1px 10px 1px #363636;
                animation-name: dropdown;
                animation-duration: .5s;
    
    
                div{
                    padding-bottom: 15px;
                    h3{
                        color: $primary-white-color;
                        font-size: 12px;
                        font-family: $navbar-top-font;
                        text-align: center;
                    }
                    p{
                        font-size: 15px;
                        text-align: center;
                        padding-top: 10px;
                        text-align: center;
                    }
    
                    .green{
                        color: $primary-green-color
                    }
        
                    .green:hover{
                        color: $primary-green-color-hover
                    }
        
                    .red{
                        color:$primary-red-color;
                    }
        
                    .red:hover{
                        color:$primary-red-color-hover;
                    }
                }
    
                .underline {
                    p{
                        border-bottom: 1px solid rgb(208, 208, 208);
                        padding-bottom: 15px;
                        font-size: 15px;
                    }  
                    h3{
                        text-align: center;
                    }
                }
            }
        }
    }
    
    .navbar-bottom{
    
        @include default-flexbox();
        flex-direction: row;
        width: -webkit-fill-available;
        background: $background-color_1;
        height: 80px;
    
        .left{
            h1{
                font-size: 35px;
                font-family: $navbar-top-font;
                color: $primary-white-color;
            }
        }
    
        .middle{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: row;
            width: 600px;
    
            h3{
                font-size: 12px;
                font-family: $navbar-top-font;
                font-weight: 300;
                color: $primary-white-color;
                cursor: pointer;
            }
    
            h3:hover{
                color: #ffffff;
            }
        }
    
        .right{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 200px;
            display: none;
    
            p{
                font-size: 15px;
                font-family: $navbar-top-font;
                color: $primary-white-color;
                cursor: pointer;
            }
            p:hover{
                color: #b7b7b7;
            }
    
            a{
                background: radial-gradient(circle at 24.1% 68.8%, rgb(100, 100, 100) 0%, rgb(61, 61, 61) 99.4%);
                padding: 5%;
                border-radius: 12px;
                font-size: 14px;
                font-family: $navbar-top-font;
                color: $primary-white-color;
                transition: 5s ease-in-out;
            }
    
            a:hover{
                transition: 5s ease-in-out;
                background: radial-gradient(circle at 24.1% 68.8%, rgb(66, 65, 65) 0%, rgb(20, 20, 20) 99.4%);
                cursor: pointer;
            }
        }
    
    }
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: #151515;
    background: linear-gradient(to left, #080808, #2c2c2c);
    height: 625px;


    .left{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 41%;

        .top{
            padding-bottom: 60px;

            .top-btn{
                font-size: 15px;
                font-family: "Unbounded", cursive;
                font-weight: 300;
                color: #f2f2f2;
                padding-bottom: 20px;
                text-decoration: none;
                -webkit-text-fill-color: #cdcacabd;
                background: -webkit-linear-gradient(45deg, #f2f2f2, #2200ff);
                -webkit-background-clip: text;
                animation-name: fadein;
                animation-duration: 3s;

            
    
                &:hover{
                    cursor:pointer;
                    text-decoration: underline;
                }
            }
    
            h1{
                font-size: 55px;
                font-family: "Unbounded", cursive;
                -webkit-text-fill-color: transparent;
                background: -webkit-linear-gradient(45deg,#fcfbfb,#4b4b4b);
                -webkit-background-clip: text;
                padding-bottom: 20px;
                padding-top: 15px;
                animation-name: fadein;
                animation-duration: 3s;
            }
    
            p{
                font-size: 26px;
                font-family: "Unbounded", cursive;
                font-weight: 300;
                -webkit-text-fill-color: transparent;
                background: -webkit-linear-gradient(45deg,#fcfbfb,#acacac);
                -webkit-background-clip: text;
                padding-bottom: 10px;
                animation-name: fadein;
                animation-duration: 3s;
            }
    
            .btn-container{
                display: flex;
                align-items: center;
                justify-content: start;
                flex-direction: row;
                animation-name: fadein;
                animation-duration: 3s;
    
                .pd-right{
                    margin-right: 50px;
                }
    
                .btns{
                    margin-top: 20px;
                    background: rgb(61, 61, 61) 99.4%;
                    padding: 2%;
                    border-radius: 15px;
                    font-size: 18px;
                    font-family: $navbar-top-font;
                    color: $primary-white-color;
                    transition: .5s ease-in-out;
                    text-decoration: none;
                }
    
                .btns:hover{
                    transition: .5s ease-in-out;
                     background: rgb(36, 36, 36) 99.4%;
                    cursor: pointer;
                }
            }

        }
    }

    .right{
        padding-top: 30px;
        padding-bottom: 30px;
        img{
            width: 700px;
        }
        animation-name: fadein;
        animation-duration: 3s;
    }
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px 70px 0px 70px;
    background: #1e1e1e;
    background: linear-gradient(to left, #080808, #2c2c2c);
    height: 250px;

    .info-box{
        width: 347px;
        animation-name: fadein;
        animation-duration: 2.5s;
        h1{
            font-size: 30px;
            font-family: $navbar-top-font;
            text-align: center;
            -webkit-text-fill-color: rgba(0,0,0,0);
            background: -webkit-linear-gradient(45deg, $primary-white-color, #d4d3d3);
            -webkit-background-clip: text;
        }

        p{
            color: $primary-white-color;
            font-family:$navbar-top-font;
            font-size: 20px;
            text-align: center;
            padding-top: 20px;
        }
    }
}

.earn-today{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px 70px 50px 70px;
    background: linear-gradient(to left, #191919, #191919);
    height: 150px;

    h1{
        font-size: 35px;
        font-family: $navbar-top-font;
        text-align: center;
        -webkit-text-fill-color: rgba(0,0,0,0);
        background: -webkit-linear-gradient(45deg, $primary-white-color, #d4d3d3);
        -webkit-background-clip: text;
    }

    a{
        margin-top: 20px;
        background: rgb(61, 61, 61) 99.4%;
        padding: 1%;
        border-radius: 15px;
        font-size: 18px;
        font-family: "Unbounded", cursive;
        color: #f2f2f2;
        transition: 0.5s ease-in-out;
        text-decoration: none;
    }

    a:hover{
        transition: .5s ease-in-out;
        background: rgb(36, 36, 36) 99.4%;
        cursor: pointer;
    }
}

.need-help{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    .need-help-heading{

    }

    .need-help-parent{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;

        .need-help-childern{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: row;
            
            .left{
                img{

                }
            }

            .right{

            }
        }
    }


}
