//default setting import
@import '../partials/default_settings';

//mixins import
@import '../partials/mixins';

//include fonts
@import '../partials/fonts';


//default settings
*{
    @include default;
}

body{
    background: linear-gradient(90deg, rgb(32 32 32) 0%, rgb(35 35 35) 35%, rgba(0,0,0,1) 100%);
}

//navbar 
.navbar-top{
    @include navbar-top(true); //set to true or false if you want the cursor on navbar-top to be a pointer (true) or not to be a pointer (false)
}

.navbar-middle{
    @include navbar-middle();

    .navbar-middle-data{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding-right: 32px;
        height: 65%;

        p{
            color: $primary-white-color;
            font-family:$navbar-top-font;
            font-size: 9.5px;
            .green{
                color: rgb(78, 238, 34);
            }

            .red{
                color:rgb(255, 103, 103)
            }
        }

        img{
            width: 17px;
            height: 17px;
        }
    }
}

.navbar-bottom{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: -webkit-fill-available;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(47, 47, 47) 0%, rgb(1, 1, 1) 99.4%);
    height: 80px;

    .left{
        h1{
            font-size: 30px;
            font-family: $navbar-top-font;
            color: $primary-white-color;
        }
    }

    .middle{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 600px;

        h3{
            font-size: 13px;
            font-family: $navbar-top-font;
            font-weight: 300;
            color: $primary-white-color;
        }
    }

    .right{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 200px;

        p{
            font-size: 15px;
            font-family: $navbar-top-font;
            color: $primary-white-color;
        }

        a{
            background: radial-gradient(circle at 24.1% 68.8%, rgb(100, 100, 100) 0%, rgb(61, 61, 61) 99.4%);
            padding: 10%;
            border-radius: 12px;
            font-size: 14px;
            font-family: $navbar-top-font;
            color: $primary-white-color;
            padding-left: 10%;
            padding-right: 10%;
            padding-top: 5%;
            padding-bottom: 5%;
            transition: 5s ease-in-out;
        }

        a:hover{
            transition: 5s ease-in-out;
            background: radial-gradient(circle at 24.1% 68.8%, rgb(66, 65, 65) 0%, rgb(20, 20, 20) 99.4%);
            cursor: pointer;
        }
    }

}

