/** 
* _default_settings.scss
* Contains one mixin for the applications default settings
*/
@import url("https://fonts.googleapis.com/css2?family=Unbounded&display=swap");
/**
* default-flexbox is a mixin for typical flexbox style
*/
/** 
* navbar-top is a mixin for the top section of the navbar.tsx component (includes default-flexbox mixin and basic h1 settings).
* $cursorPointer is a parameter to set the pointer:cursor "ON" or "OFF
*/
@import url("https://fonts.googleapis.com/css2?family=Unbounded&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(90deg, rgb(32, 32, 32) 0%, rgb(35, 35, 35) 35%, rgb(0, 0, 0) 100%);
}

.navbar-top {
  padding: 10px 10px;
  background: radial-gradient(circle at 10% 20%, rgb(59, 149, 237) 0%, rgb(7, 91, 173) 90%);
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navbar-top h1 {
  font-family: "Unbounded", cursive;
  font-weight: 100;
  color: #f2f2f2;
  font-size: 16px;
  cursor: pointer;
}
.navbar-top h2 {
  font-family: "Unbounded", cursive;
  font-weight: 100;
  color: #f2f2f2;
  font-size: 16px;
  position: fixed;
  margin-left: 92%;
  transition: 0.3s ease-in-out;
}
.navbar-top h2:hover {
  color: #262626;
  transition: 0.3s ease-in-out;
}

.navbar-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  height: 90px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.navbar-middle .navbar-middle-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-right: 32px;
  height: 65%;
}
.navbar-middle .navbar-middle-data p {
  color: #f2f2f2;
  font-family: "Unbounded", cursive;
  font-size: 9.5px;
  cursor: pointer;
}
.navbar-middle .navbar-middle-data p .green {
  color: rgb(83, 219, 45);
}
.navbar-middle .navbar-middle-data p .green:hover {
  color: rgb(62, 250, 9);
}
.navbar-middle .navbar-middle-data p .red {
  color: rgb(255, 103, 103);
}
.navbar-middle .navbar-middle-data p .red:hover {
  color: rgb(252, 32, 32);
}
.navbar-middle .navbar-middle-data img {
  width: 17px;
  height: 17px;
}
.navbar-middle .navbar-middle-data .crypto_nav_dropdown {
  width: 150px;
  padding: 10%;
  background: linear-gradient(rgb(24, 24, 24) 0%, rgb(24, 24, 24) 0%);
  z-index: 2;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #676666;
}
.navbar-middle .navbar-middle-data .crypto_nav_dropdown div {
  padding-bottom: 15px;
}
.navbar-middle .navbar-middle-data .crypto_nav_dropdown div h3 {
  color: #f2f2f2;
  font-size: 12px;
  font-family: "Unbounded", cursive;
}
.navbar-middle .navbar-middle-data .crypto_nav_dropdown div p {
  font-size: 11px;
  text-align: center;
  padding-top: 10px;
}
.navbar-middle .navbar-middle-data .crypto_nav_dropdown div .green {
  color: rgb(83, 219, 45);
}
.navbar-middle .navbar-middle-data .crypto_nav_dropdown div .green:hover {
  color: rgb(62, 250, 9);
}
.navbar-middle .navbar-middle-data .crypto_nav_dropdown div .red {
  color: rgb(255, 103, 103);
}
.navbar-middle .navbar-middle-data .crypto_nav_dropdown div .red:hover {
  color: rgb(252, 32, 32);
}
.navbar-middle .navbar-middle-data .crypto_nav_dropdown .underline p {
  border-bottom: 1px solid rgb(208, 208, 208);
  padding-bottom: 15px;
}

.navbar-bottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: -webkit-fill-available;
  background: radial-gradient(circle at 24.1% 68.8%, rgb(47, 47, 47) 0%, rgb(1, 1, 1) 99.4%);
  height: 80px;
  border-bottom: 1px solid #000;
}
.navbar-bottom .left h1 {
  font-size: 30px;
  font-family: "Unbounded", cursive;
  color: #f2f2f2;
}
.navbar-bottom .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 600px;
}
.navbar-bottom .middle h3 {
  font-size: 13px;
  font-family: "Unbounded", cursive;
  font-weight: 300;
  color: #f2f2f2;
  cursor: pointer;
}
.navbar-bottom .middle h3:hover {
  color: #fff;
}
.navbar-bottom .right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
}
.navbar-bottom .right p {
  font-size: 15px;
  font-family: "Unbounded", cursive;
  color: #f2f2f2;
  cursor: pointer;
}
.navbar-bottom .right p:hover {
  color: #fff;
}
.navbar-bottom .right a {
  background: radial-gradient(circle at 24.1% 68.8%, rgb(100, 100, 100) 0%, rgb(61, 61, 61) 99.4%);
  padding: 5%;
  border-radius: 12px;
  font-size: 14px;
  font-family: "Unbounded", cursive;
  color: #f2f2f2;
  transition: 5s ease-in-out;
}
.navbar-bottom .right a:hover {
  transition: 5s ease-in-out;
  background: radial-gradient(circle at 24.1% 68.8%, rgb(66, 65, 65) 0%, rgb(20, 20, 20) 99.4%);
  cursor: pointer;
}

.example {
  z-index: 9999;
  visibility: visible;
  position: fixed;
  left: 0px;
  top: 0px;
  margin: 0px;
  transform: translate3d(708px, 42px, 0px);
}/*# sourceMappingURL=style.css.map */