/** 
* _default_settings.scss
* Contains one mixin for the applications default settings
*/
@import url("https://fonts.googleapis.com/css2?family=Unbounded&display=swap");
/**
* default-flexbox is a mixin for typical flexbox style
*/
/** 
* navbar-top is a mixin for the top section of the navbar.tsx component (includes default-flexbox mixin and basic h1 settings).
* $cursorPointer is a parameter to set the pointer:cursor "ON" or "OFF
*/
@import url("https://fonts.googleapis.com/css2?family=Unbounded&display=swap");
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dropdown {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
* {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background: #212121;
}

.navbar-top {
  padding: 10px 10px;
  background: radial-gradient(circle at 10% 20%, rgb(59, 149, 237) 0%, rgb(7, 91, 173) 90%);
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navbar-top h1 {
  font-family: "Unbounded", cursive;
  font-weight: 100;
  color: #f2f2f2;
  font-size: 16px;
  cursor: pointer;
}
.navbar-top h2 {
  font-family: "Unbounded", cursive;
  font-weight: 100;
  color: #f2f2f2;
  font-size: 16px;
  position: absolute;
  margin-left: 92%;
  transition: 0.3s ease-in-out;
}
.navbar-top h2:hover {
  color: #262626;
  transition: 0.3s ease-in-out;
}

.nav-connect .navbar-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: #1e1e1e;
  height: 90px;
  border-bottom: 1.5px solid black;
  border-top: 1.5px solid black;
}
.nav-connect .navbar-middle .navbar-middle-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-right: 32px;
  height: 65%;
}
.nav-connect .navbar-middle .navbar-middle-data p {
  color: #f2f2f2;
  font-family: "Unbounded", cursive;
  font-size: 10.5px;
  cursor: pointer;
}
.nav-connect .navbar-middle .navbar-middle-data p .green {
  color: #53db2d;
}
.nav-connect .navbar-middle .navbar-middle-data p .green:hover {
  color: #3efa09;
}
.nav-connect .navbar-middle .navbar-middle-data p .red {
  color: #ff6767;
}
.nav-connect .navbar-middle .navbar-middle-data p .red:hover {
  color: #fc2020;
}
.nav-connect .navbar-middle .navbar-middle-data img {
  width: 17px;
  height: 17px;
}
.nav-connect .navbar-middle .navbar-middle-data .crypto_nav_dropdown {
  width: 150px;
  padding: 10%;
  background: linear-gradient(rgb(24, 24, 24) 0%, rgb(24, 24, 24) 0%);
  z-index: 2;
  border-radius: 15px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 1px 1px 10px 1px #363636;
  animation-name: dropdown;
  animation-duration: 0.5s;
}
.nav-connect .navbar-middle .navbar-middle-data .crypto_nav_dropdown div {
  padding-bottom: 15px;
}
.nav-connect .navbar-middle .navbar-middle-data .crypto_nav_dropdown div h3 {
  color: #f2f2f2;
  font-size: 12px;
  font-family: "Unbounded", cursive;
  text-align: center;
}
.nav-connect .navbar-middle .navbar-middle-data .crypto_nav_dropdown div p {
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
  text-align: center;
}
.nav-connect .navbar-middle .navbar-middle-data .crypto_nav_dropdown div .green {
  color: #53db2d;
}
.nav-connect .navbar-middle .navbar-middle-data .crypto_nav_dropdown div .green:hover {
  color: #3efa09;
}
.nav-connect .navbar-middle .navbar-middle-data .crypto_nav_dropdown div .red {
  color: #ff6767;
}
.nav-connect .navbar-middle .navbar-middle-data .crypto_nav_dropdown div .red:hover {
  color: #fc2020;
}
.nav-connect .navbar-middle .navbar-middle-data .crypto_nav_dropdown .underline p {
  border-bottom: 1px solid rgb(208, 208, 208);
  padding-bottom: 15px;
  font-size: 15px;
}
.nav-connect .navbar-middle .navbar-middle-data .crypto_nav_dropdown .underline h3 {
  text-align: center;
}
.nav-connect .navbar-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: -webkit-fill-available;
  background: #1e1e1e;
  height: 80px;
}
.nav-connect .navbar-bottom .left h1 {
  font-size: 35px;
  font-family: "Unbounded", cursive;
  color: #f2f2f2;
}
.nav-connect .navbar-bottom .middle {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 600px;
}
.nav-connect .navbar-bottom .middle h3 {
  font-size: 12px;
  font-family: "Unbounded", cursive;
  font-weight: 300;
  color: #f2f2f2;
  cursor: pointer;
}
.nav-connect .navbar-bottom .middle h3:hover {
  color: #ffffff;
}
.nav-connect .navbar-bottom .right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  display: none;
}
.nav-connect .navbar-bottom .right p {
  font-size: 15px;
  font-family: "Unbounded", cursive;
  color: #f2f2f2;
  cursor: pointer;
}
.nav-connect .navbar-bottom .right p:hover {
  color: #b7b7b7;
}
.nav-connect .navbar-bottom .right a {
  background: radial-gradient(circle at 24.1% 68.8%, rgb(100, 100, 100) 0%, rgb(61, 61, 61) 99.4%);
  padding: 5%;
  border-radius: 12px;
  font-size: 14px;
  font-family: "Unbounded", cursive;
  color: #f2f2f2;
  transition: 5s ease-in-out;
}
.nav-connect .navbar-bottom .right a:hover {
  transition: 5s ease-in-out;
  background: radial-gradient(circle at 24.1% 68.8%, rgb(66, 65, 65) 0%, rgb(20, 20, 20) 99.4%);
  cursor: pointer;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: #151515;
  background: linear-gradient(to left, #080808, #2c2c2c);
  height: 625px;
}
.hero .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 41%;
}
.hero .left .top {
  padding-bottom: 60px;
}
.hero .left .top .top-btn {
  font-size: 15px;
  font-family: "Unbounded", cursive;
  font-weight: 300;
  color: #f2f2f2;
  padding-bottom: 20px;
  text-decoration: none;
  -webkit-text-fill-color: rgba(205, 202, 202, 0.7411764706);
  background: -webkit-linear-gradient(45deg, #f2f2f2, #2200ff);
  -webkit-background-clip: text;
  animation-name: fadein;
  animation-duration: 3s;
}
.hero .left .top .top-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}
.hero .left .top h1 {
  font-size: 55px;
  font-family: "Unbounded", cursive;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(45deg, #fcfbfb, #4b4b4b);
  -webkit-background-clip: text;
  padding-bottom: 20px;
  padding-top: 15px;
  animation-name: fadein;
  animation-duration: 3s;
}
.hero .left .top p {
  font-size: 26px;
  font-family: "Unbounded", cursive;
  font-weight: 300;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(45deg, #fcfbfb, #acacac);
  -webkit-background-clip: text;
  padding-bottom: 10px;
  animation-name: fadein;
  animation-duration: 3s;
}
.hero .left .top .btn-container {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  animation-name: fadein;
  animation-duration: 3s;
}
.hero .left .top .btn-container .pd-right {
  margin-right: 50px;
}
.hero .left .top .btn-container .btns {
  margin-top: 20px;
  background: rgb(61, 61, 61) 99.4%;
  padding: 2%;
  border-radius: 15px;
  font-size: 18px;
  font-family: "Unbounded", cursive;
  color: #f2f2f2;
  transition: 0.5s ease-in-out;
  text-decoration: none;
}
.hero .left .top .btn-container .btns:hover {
  transition: 0.5s ease-in-out;
  background: rgb(36, 36, 36) 99.4%;
  cursor: pointer;
}
.hero .right {
  padding-top: 30px;
  padding-bottom: 30px;
  animation-name: fadein;
  animation-duration: 3s;
}
.hero .right img {
  width: 700px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px 70px 0px 70px;
  background: #1e1e1e;
  background: linear-gradient(to left, #080808, #2c2c2c);
  height: 250px;
}
.info .info-box {
  width: 347px;
  animation-name: fadein;
  animation-duration: 2.5s;
}
.info .info-box h1 {
  font-size: 30px;
  font-family: "Unbounded", cursive;
  text-align: center;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background: -webkit-linear-gradient(45deg, #f2f2f2, #d4d3d3);
  -webkit-background-clip: text;
}
.info .info-box p {
  color: #f2f2f2;
  font-family: "Unbounded", cursive;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}

.earn-today {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px 70px 50px 70px;
  background: linear-gradient(to left, #131313, #131313);
  height: 150px;
}
.earn-today h1 {
  font-size: 35px;
  font-family: "Unbounded", cursive;
  text-align: center;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background: -webkit-linear-gradient(45deg, #f2f2f2, #d4d3d3);
  -webkit-background-clip: text;
}
.earn-today a {
  margin-top: 20px;
  background: rgb(61, 61, 61) 99.4%;
  padding: 1%;
  border-radius: 15px;
  font-size: 18px;
  font-family: "Unbounded", cursive;
  color: #f2f2f2;
  transition: 0.5s ease-in-out;
  text-decoration: none;
}
.earn-today a:hover {
  transition: 0.5s ease-in-out;
  background: rgb(36, 36, 36) 99.4%;
  cursor: pointer;
}

.annual {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 20px 90px 85px 90px;
  background: linear-gradient(to left, #191919, #191919);
  height: 300px;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
}
.annual .annual-heading {
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  flex-direction: column;
  padding: 80px 0px 40px 0px;
  width: -webkit-fill-available;
}
.annual .annual-heading h1 {
  font-size: 35px;
  font-family: "Unbounded", cursive;
  text-align: center;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background: -webkit-linear-gradient(45deg, #f2f2f2, #d4d3d3);
  -webkit-background-clip: text;
  padding-bottom: 10px;
}
.annual .annual-heading p {
  font-size: 20px;
  font-family: "Unbounded", cursive;
  font-weight: 300;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background: -webkit-linear-gradient(45deg, #e1e1e1, #e1e1e1);
  -webkit-background-clip: text;
  padding-bottom: 20px;
  width: 800px;
}
.annual .annual-parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 35px 65px;
  width: -webkit-fill-available;
}
.annual .annual-parent .annual-children {
  width: 227px;
  padding: 20% 10% 20% 10%;
  background: linear-gradient(rgb(62, 62, 62) 0%, rgb(74, 74, 74) 0%);
  background: #212121 9.4%;
  z-index: 2;
  border-radius: 15px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 1px 1px 11px 1px #131313;
  transition: 0.5s ease-in-out;
}
.annual .annual-parent .annual-children:hover {
  transition: 0.5s ease-in-out;
  background: #303030 9.4%;
  cursor: pointer;
}
.annual .annual-parent .annual-children img {
  width: 85px;
  height: 85px;
}
.annual .annual-parent .annual-children h3 {
  font-size: 26px;
  font-family: "Unbounded", cursive;
  text-align: center;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background: -webkit-linear-gradient(45deg, #f2f2f2, #d4d3d3);
  -webkit-background-clip: text;
  display: flex;
  font-weight: 900;
  padding-bottom: 5px;
  padding-top: 15px;
}
.annual .annual-parent .annual-children h2 {
  font-size: 15px;
  font-family: "Unbounded", cursive;
  text-align: center;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background: -webkit-linear-gradient(45deg, #f2f2f2, #d4d3d3);
  -webkit-background-clip: text;
  display: flex;
  font-weight: 900;
  padding-bottom: 20px;
  padding-top: 9px;
}
.annual .annual-parent .annual-children .green {
  color: #53db2d;
  font-size: 18px;
  font-family: "Unbounded", cursive;
  text-align: center;
  letter-spacing: 1.5px;
}
.annual .annual-parent .annual-children .red {
  color: #ff6767;
  font-size: 18px;
  font-family: "Unbounded", cursive;
  text-align: center;
  letter-spacing: 1.5px;
}

.need-help {
  padding: 60px 90px 105px 90px;
  background: linear-gradient(to left, #191919, #191919);
  height: 300px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.need-help .need-help-heading {
  display: flex;
  align-self: baseline;
  padding: 80px 0px 70px 0px;
}
.need-help .need-help-heading h1 {
  font-size: 35px;
  font-family: "Unbounded", cursive;
  text-align: center;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background: -webkit-linear-gradient(45deg, #f2f2f2, #d4d3d3);
  -webkit-background-clip: text;
}
.need-help .need-help-parent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
.need-help .need-help-parent .need-help-children {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  padding-right: 40px;
  max-width: 800px;
}
.need-help .need-help-parent .need-help-children .left img {
  filter: invert(0.9);
  padding-right: 40px;
  display: flex;
}
.need-help .need-help-parent .need-help-children .right {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  flex-direction: column;
  max-width: 800px;
}
.need-help .need-help-parent .need-help-children .right h3 {
  font-size: 26px;
  font-family: "Unbounded", cursive;
  text-align: center;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background: -webkit-linear-gradient(45deg, #f2f2f2, #d4d3d3);
  -webkit-background-clip: text;
  display: flex;
  font-weight: 900;
  padding-bottom: 20px;
}
.need-help .need-help-parent .need-help-children .right p {
  font-size: 16px;
  font-family: "Unbounded", cursive;
  font-weight: 300;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background: -webkit-linear-gradient(45deg, #e1e1e1, #e1e1e1);
  -webkit-background-clip: text;
  padding-bottom: 20px;
}
.need-help .need-help-parent .need-help-children .right a {
  font-size: 20px;
  font-family: "Unbounded", cursive;
  font-weight: 400;
  color: #f2f2f2;
  padding-bottom: 20px;
  text-decoration: none;
  -webkit-text-fill-color: rgba(205, 202, 202, 0.7411764706);
  background: -webkit-linear-gradient(45deg, #f2f2f2, #2200ff);
  -webkit-background-clip: text;
}
.need-help .need-help-parent .need-help-children .right a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.popular {
  height: 1000px;
  margin: auto;
  background: linear-gradient(to left, #191919, #191919);
  padding: 60px 90px 40px 90px;
}
.popular .popular-heading {
  display: flex;
  align-self: baseline;
  padding: 40px 0px 35px 0px;
  justify-content: space-between;
}
.popular .popular-heading h1 {
  font-size: 35px;
  font-family: "Unbounded", cursive;
  text-align: center;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background: -webkit-linear-gradient(45deg, #f2f2f2, #d4d3d3);
  -webkit-background-clip: text;
}
.popular .popular-heading a {
  font-size: 15px;
  font-family: "Unbounded", cursive;
  font-weight: 400;
  color: #f2f2f2;
  padding-bottom: 20px;
  text-decoration: none;
  -webkit-text-fill-color: rgba(205, 202, 202, 0.7411764706);
  background: -webkit-linear-gradient(45deg, #f2f2f2, #2200ff);
  -webkit-background-clip: text;
}
.popular .popular-heading a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.popular table {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  border-collapse: collapse;
  border-width: 1px;
  border-color: rgba(25, 25, 25, 0);
  border-style: solid;
  color: #000000;
  margin: auto;
  margin-top: 60px;
}
.popular table td, .popular table th {
  border-width: 1px;
  border-color: rgba(25, 25, 25, 0);
  border-style: solid;
  padding: 3px;
  text-align: center;
  font-size: 25px;
  font-family: "Unbounded", cursive;
  text-align: center;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background: -webkit-linear-gradient(45deg, #f2f2f2, #d4d3d3);
  -webkit-background-clip: text;
}
.popular table td {
  padding: 25px 80px 20px 80px;
  font-size: 15px;
}
.popular table td img {
  width: 25px;
  height: 25px;
}
.popular table td .green {
  color: #53db2d;
  font-size: 18px;
  font-family: "Unbounded", cursive;
  text-align: center;
  letter-spacing: 1.5px;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background: -webkit-linear-gradient(45deg, #53db2d, #53db2d);
  -webkit-background-clip: text;
}
.popular table td .red {
  color: #ff6767;
  font-size: 18px;
  font-family: "Unbounded", cursive;
  text-align: center;
  letter-spacing: 1.5px;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background: -webkit-linear-gradient(45deg, #ff6767, #ff6767);
  -webkit-background-clip: text;
}
.popular table .data:hover {
  background: rgb(27, 27, 27);
  cursor: pointer;
}
.popular table .test {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: unset;
}
.popular table .test span {
  font-size: 10px;
}
.popular table .thead th {
  font-size: 15px;
  font-weight: 100;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background: -webkit-linear-gradient(45deg, #f2f2f2, #7a7a7a);
  -webkit-background-clip: text;
  padding-bottom: 35px;
  padding-top: 30px;
}/*# sourceMappingURL=style.css.map */