//Unbounded font import
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

//FONTS
$navbar-top-font : 'Unbounded', cursive;

//dropdown COLORS
$background-color_1: #1e1e1e;
$dropdown-bg : linear-gradient(rgb(24, 24, 24) 0%, rgb(24, 24, 24) 0%);


//WHITE COLORS
$primary-white-color : #f2f2f2;

//BLACK COLORS
$primary-black-color : #172430;

//GREEN COLORS
$primary-green-color: #53db2d;
$primary-green-color-hover: #3efa09;

//RED COLORS
$primary-red-color: #ff6767;
$primary-red-color-hover:#fc2020;