//Unbounded font import
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

//FONTS
$navbar-top-font : 'Unbounded', cursive;

//WHITE COLORS
$primary-white-color : #f2f2f2;

//BLACK COLORS
$primary-black-color : #172430;

//GREEN COLORS
$primary-green-color: #53db2d;
$primary-green-color-hover: #3efa09;