//import FONTS
@import './fonts';

/**
* default-flexbox is a mixin for typical flexbox style
*/
@mixin default-flexbox(){
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin navbar-top-heading($positionFixed){
    font-family: $navbar-top-font;
    font-weight: 100;
    color: $primary-white-color;
    font-size: 16px;

    @if $positionFixed{
        position: fixed;
    }
}

/** 
* navbar-top is a mixin for the top section of the navbar.tsx component (includes default-flexbox mixin and basic h1 settings).
* $cursorPointer is a parameter to set the pointer:cursor "ON" or "OFF
*/
@mixin navbar-top($cursorPointer){
    padding: 10px 10px;
    background: radial-gradient(circle at 10% 20%, rgb(59, 149, 237) 0%, rgb(7, 91, 173) 90%);
    height: 20px;

    @include default-flexbox();
    
    @if $cursorPointer{
        cursor: pointer;
    }

    h1{
        @include navbar-top-heading(false);

        @if $cursorPointer{
            cursor: pointer;
        }
    }

    h2{
        @include navbar-top-heading(true);
        margin-left: 92%;
        transition: .3s ease-in-out;

        &:hover{
            color: darken($color: $primary-white-color, $amount: 80);
            transition: .3s ease-in-out;
        }
    }
    
}

@mixin navbar-middle(){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    height: 80px;

}